@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #172b4d;
  overflow-x: hidden;
}

h2 {
  display: none;
}

.header {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 36px 0 24px;
  height: 50px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: -2px;
  height: 100vh;
  gap: 0;
  width: 100%;
  text-align: start;
  flex-direction: column;
  transition: 0.3s;
  background-color: rgb(248, 250, 249);
  padding-left: 40px;
  padding-top: -10%;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
}

.navbar {
  display: block;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-branding {
  color: black;
  font-size: 2rem;
  z-index: 1;
}

.nav-item {
  margin: 20px 0;
}

.nav-link {
  transition: 0.7s ease;
  color: #3a4a42;
  font-weight: bold;
  font-size: 24px;
}

.nav-link:hover {
  color: #36b37e;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-left: 80%;
  color: #000;
  margin-top: -40px;
  z-index: 5;
  position: fixed;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header a {
  color: #28352f;
}

.landing-page {
  background-image: url("./images/illustration.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

span.tint {
  color: mediumseagreen;
}

.lp-text {
  margin: 26px auto 50px auto;
  width: 100%;
  text-align: center;
}

a.arrow {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 14px 17px;
  margin-top: 40px;
  display: none;
}

.header2 {
  margin: 0 0 0;
  min-width: 327px;
  text-align: center;
}

.separator {
  height: 4px;
  width: 48px;
  background-color: #36b37e;
  border: none;
  border-radius: 24px;
  margin: 24px auto;
}

#works-section {
  display: grid;
}

section {
  padding: 120px 24px;
}

.Projects-container {
  margin: 0 auto 24px auto;
  position: relative;
  text-align: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  width: 327px;
  height: 474px;
}

.Projects {
  position: relative;
  width: 100%;
  top: 100px;
  text-align: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.empty-div {
  height: 300px;
  background-color: #ebf0ee;
}

.pro-btn {
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  background-color: #25815b;
  color: #fff;
  margin-top: -100px;
}

#about-text {
  position: relative;
  text-align: center;
}

img.bg-img {
  position: absolute;
  bottom: -10px;
  top: 20%;
  left: -24px;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  color: #3a4a42;
}

ul.pro-tech {
  margin: 1rem 0.25rem;
  gap: 8px;
}

.pro-tech li {
  color: #3a4a42;
  background-color: #e5e5e5;
  padding: 0.5rem 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: auto;
  padding: 0 0 65px 0;
  margin: 10px;
}

#about-text .bg-img1 {
  background-image: url("./images/about.png");
  position: absolute;
  left: 300px;
  top: -10px;
  background-repeat: no-repeat;
  width: 63px;
  height: 110px;
}

#about-text .bg-img2 {
  background-image: url("./images/about2.png");
  background-repeat: no-repeat;
  height: 84px;
  width: 73px;
  position: absolute;
  right: 290px;
  bottom: 1051px;
}

.contact-section p {
  text-align: center;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.about-me p {
  color: #42526e;
  line-height: 2rem;
  margin: 24px auto;
}

.header-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 24px;
}

.skills-list {
  margin-top: 32px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.tech-sk ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 28px;
}

.tech-sk {
  position: relative;
  text-align: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
}

.lg,
.frm,
.sk {
  background-color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 40px auto 64px auto;
  text-align: center;
}

.tech-sk img {
  margin-top: 19px;
}

.skills-list li {
  border: none;
  border-radius: 8px;
  color: #25815a;
  background-color: #fff;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1rem;
}

.skills-list ul {
  margin: 1rem 0.25rem;
  gap: 8px;
}

h4 {
  color: #344563;
  line-height: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin: 44px 0;
}

.contact-form label {
  display: flex;
  width: 100%;
}

.contact-form label input,
.contact-form label textarea {
  width: 100%;
  padding: 0.9375rem 2.375rem 0.9375rem 1rem;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background: #fff;
}

.contact-form label input::placeholder {
  font-size: 1.0625rem;
  color: #6b778c;
  line-height: 1.25rem;
  font-weight: 400;
}

.contact-form label textarea::placeholder {
  font-size: 50px;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: #091e42;
}

.button {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
  letter-spacing: 3%;
  border: 1px solid #25815b;
  cursor: pointer;
}

.button:enabled {
  color: #fff;
  background: #36b37f;
}

.button:hover {
  color: #fff;
  background: #36b37f;
}

.button:active {
  color: #fff;
  background: #008552;
}

.button:disabled {
  color: #5e6c84;
}

.btn-container {
  margin: 0 auto;
}

.contact-section .contact-bg {
  background-image: url(./images/illustration-contact-form-bg.svg);
  position: absolute;
  width: 60px;
  height: 132px;
  background-repeat: no-repeat;
  left: 311px;
  top: 853px;
}

.example-mail {
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
}

#empty-footer {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    padding: 26px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-direction: row;
    width: 100%;
    height: 80px;
    margin-left: 100%;
    padding: 30px 20px;
    margin-top: 14px;
  }

  .nav-branding {
    display: none;
  }

  .nav-item {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    margin: 0 35px;
  }

  h2 {
    display: none;
  }

  a.arrow2 {
    display: none;
  }

  a.arrow {
    border: 1px solid #dfe1e6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 24px;
    margin-left: 48%;
    display: flex;
  }

  .landing-page {
    background-image: url("./images/header-background.svg");
    width: 100%;
    text-align: center;
  }

  #works-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px 32px;
    padding-top: 0;
  }

  .Proj-text1 h3 {
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .about-me {
    max-width: 100%;
    background-image: url("./images/illustration-about-me-desktop.png");
    background-repeat: no-repeat;
  }

  .bg-img1,
  .bg-img2 {
    display: none;
  }

  .header-style {
    font-size: 50px;
    line-height: 800;
    position: relative;
    animation: header-text;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  .empty-div {
    height: 252px;
  }

  .header-text {
    display: block;
    transition-property: color;
    transition-duration: 4s;
    margin-right: 0;
  }

  .separator {
    display: none;
  }

  .header-text:hover {
    color: #08f894;
  }

  @keyframes header-text {
    0% { top: -50px; }
    100% { top: 200px; }
  }

  #about-text p {
    max-width: 920px;
    padding-left: 10px;
  }

  .p-style {
    max-width: 920px;
    padding-left: 10px;
    position: relative;
    animation-name: p-style;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  @keyframes p-style {
    0% { left: -1000px; }
    100% { left: 200px; }
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px 32px;
    padding: 68px 0 0 0;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
  }

  .btn-container {
    display: none;
  }

  #btn {
    display: block;
    margin: 0;
  }

  .contact-section .contact-bg {
    display: none;
  }

  .example-mail {
    display: none;
  }

  #empty-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
  }

  #middle-image {
    margin-left: -30em;
  }
}
